<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
    {% block content %}

        <h1>Welcome, to the best Rock. Paper, Scissors Game!!</h1>
        <div id="options">
        <a href ="results.html">
            <a href="/result?id=rock">
                <img alt="rock image" src="../static/rock.jpeg">
            </a>
            <a href="/result?id=paper">
                <img alt="paper image" src="../static/paper.jpeg">
            </a>
            <a href="/result?id=scissors">
                <img alt="scissors image" src="../static/scissors.jpeg">
            </a>

            </a>
            </div>
    {% endblock %}


</body>
</html>