<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
</head>
<body>
    <header>
        <h1>
        Rock, Paper, Scissors Games!!!
        </h1>
        <nav>

            <ul>
                <li><a href="index.html" >Reset</a></li>
                <li><a href="game.html">Start Game</a></li>



            <a href="index.html">Reset</a>
            <a href="game.html">Start Game</a>

        </nav>

    </header>
    {% block content %} {% endblock %}
    <footer>
        <p>Are you not entertained?</p>
    </footer>
</body>
</html>